<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- <!DOCTYPE configuration PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
 --><!-- <configuration scanPeriod="2 seconds" debug="true"> -->
<configuration>
	<contextName>TODAY ORM</contextName>
	  
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p - [%16.16t] %-40.40logger{40} %L\t- %m%n</pattern>
		<!-- 	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L [%t:%r] - %m%n</pattern> -->
		</encoder>
	</appender>

	<root level="INFO, DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>



